table {
    border-width: 1px;
    width: 70em;
}
table th 
{
    border-width: 1px;
    border-color: rgb(221, 221, 221);
    border-style: solid;
}
table td 
{
    border-width: 1px;
    border-color: rgb(221, 221, 221);
    border-style: solid;
}

table th {
    text-align: left;
}



table tr:nth-child(odd) td
{
    background: rgb(241, 241, 241);
}

table tbody td:hover
{
    cursor: pointer;
    background: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
}
