@import url('fontawesome-free-5.11.2-web/css/all.min.css');


/*p {
   
   width: 7em;
   padding-bottom: .5em;
   padding-top: .5em;
   
}
a {
    text-decoration: none;
    color:white;
 
}
.fas{
    padding-left: .3em;
    padding-right: .3em;
    letter-spacing: .3em;
    color: white;
    
 
    
}
.first {
    border-radius: .2em;
    border: 1px solid green;
    background: green;
}

.second {
    border-radius: .2em;
    border: 1px solid orange;
    background: orange;
}*/

p{
    margin-bottom: 20px;
}

a{
    text-decoration: none;
    color: white;
}

p>a {
    padding: 5px;
    border-radius: 5px;

}

p:first-child>a {
    background: green;
}

p:last-child>a {
    background: orange;
}
