* {
    margin: 0;
    padding: 0;
}

html {
    
}

.site-main {
    background:yellow;
    overflow: hidden;
}
.image {
    width: 20%;
    float: left;
    margin: 0 1em 1em 0;
    
    background: red;
}

img {
    display: block;
    width: 100%;
    height: auto;
   
   
}
/* .cleaner {
    clear: both;
} */
p {

}
