html {
    font-family: 'Helvetica, sans-serif';
    font-size: 16px;
    line-height: 1.5;
    padding: 6em;
    
}

/*h1, h2, h3, h4, h5, h6 {
    font:inherit;
    
}*/
h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, serif;
}
/*h6 
{
    border-bottom:0.1em solid gray;
    
    padding-bottom: 1.2em;
 
}
article {
    border-top: 0.1em solid gray;
}*/

.second {
    
    margin-left: .5em;
    padding-top: .5em;
    list-style: disc;
    padding-bottom: .5em;
}

.three {
    padding-top: .5em;
    padding-bottom: .5em;
    list-style: circle;
}

blockquote {
    margin-left: 3em;
    font-style: 'italic';
    border-left: .2em solid rgb(221,221,221);
    padding-left: 1em;
    padding-top: 1em;
   padding-bottom: 4em;
   line-height: 2em;
}

.name {
    text-align: right;
}
