body {
    margin: 0;
    padding:0;
    background: #ecf0f1;
}

/*.images img {
    width: 300px;
    margin-left: 3.7em;
   border-top-left-radius: 1em;
   border-top-right-radius: 1em;
}*/
.first-item {
    background: white;

    padding-left: 0em;
    
    width: 18.721em;
    
    margin-left: 2.3em;
    
    border-bottom-left-radius: 1em;
    
    border-bottom-right-radius: 1em;
    
    height: 24em;
    
    border-top-left-radius: 1em;
    
    border-top-right-radius: 1em;
}
.first-item img{
    width: 300px;

    margin-left: 0em;
    
    border-top-left-radius: 1em;
    
    border-top-right-radius: 1em;
}
.second-item{
    margin-top: -24em;
    margin-left: 23em;
    background: white;
    width: 18.8em;
    height: 24em;
    border-bottom-left-radius: 1em;
    
    border-bottom-right-radius: 1em;
    border-top-left-radius: 1em;
    
    border-top-right-radius: 1em;
}


.second-item img {
    width: 300px;


    
    border-top-left-radius: 1em;
    
    border-top-right-radius: 1em;
}

.three-item{
    margin-top: -24em;
    margin-left: 45em;

    background: white;
    width: 18.8em;
    height: 24em;
    border-bottom-left-radius: 1em;
    
    border-bottom-right-radius: 1em;
    border-top-left-radius: 1em;
    
    border-top-right-radius: 1em;
}
.three-item img {
    width: 300px;


    
    border-top-left-radius: 1em;
    
    border-top-right-radius: 1em;
}
