html {
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    box-sizing: border-box;
}

body, form, input, button, select, option {
    font: inherit;
}

body {
    max-width: 60em;
    margin: 0 auto;
}

div {
    display: flex;
    align-items: center;
    max-width: 65vw;
    flex-wrap: wrap;
    margin: 2em;
}

section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

span {
    border: solid 1px black;
    padding-top: 1em;
    height: 5em;
}

.notes {
    flex-direction: column;
    flex: 1 0 10%;
    height: 24.4em;
}


.workweek, .weekend {
    flex: 1 0 99%;
    height: 5em;
    text-align: center;

}

span {
    flex: 1 0 15%;
    text-align: center;
}
